<div class="modal-wrapper">
    <div class="address-row-details-container">
        <h2 [ngStyle]="{ color: '#ffffff' }">{{ rowAction }}</h2>
        <ag-grid-angular
            [loading]="isLoading"
            style="width: 100%; height: 65vh"
            class="ag-theme-quartz-dark"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [editType]="'fullRow'"
            [stopEditingWhenCellsLoseFocus]="true"
            (gridReady)="onGridReady($event)"
            (cellValueChanged)="onCellValueChanged($event)"
        >
        </ag-grid-angular>

        <div class="action-buttons">
            @if (rowAction === 'Edit Row') {
                <app-cc-button [value]="'Update'" (onClicked)="updateRow()"></app-cc-button>
            }
            @if (rowAction !== 'Edit Row') {
                <app-cc-button [value]="'Create'" (onClicked)="createRow()"></app-cc-button>
            }
            @if (rowAction == 'Add Row') {
                <app-cc-button [value]="'Delete'" (onClicked)="deleteRow()"></app-cc-button>
            }
            <app-cc-button [value]="'Cancel'" (onClicked)="closeModal()"></app-cc-button>
        </div>
    </div>
</div>
