<div [ngClass]="{ error: hasError }" class="input-wrapper">
    <input
        [ngClass]="{ error: hasError }"
        [ngStyle]="{ width }"
        type="text"
        name="name"
        class="input-field"
        value="{{ value }}"
        placeholder="{{ placeholder }}"
        (input)="onInputTyping($event)"
    />
    @if (hasError) {
        <span (mouseover)="showTooltip()" (mouseleave)="hideTooltip()" class="info-icon">i</span>
    }
    @if (showTooltipElement) {
        <p class="tooltip-msg">
            {{ errorMessage }}
        </p>
    }
</div>
