<div class="modal-wrapper">
    <div class="address-row-details-container">
        <h2 [ngStyle]="{ color: '#ffffff' }">{{ rowAction }}</h2>
        <ag-grid-angular
            [loading]="isLoading"
            style="width: 100%; height: 65vh"
            class="ag-theme-quartz-dark"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [editType]="editType"
            [stopEditingWhenCellsLoseFocus]="true"
            (gridReady)="onGridReady($event)"
            (cellValueChanged)="onCellValueChanged($event)"
        >
        </ag-grid-angular>

        <div class="action-buttons">
            <app-cc-button
                [value]="rowAction == 'Edit Row' ? 'Update' : 'Create'"
                (onClicked)="saveRow()"
            ></app-cc-button>
            <app-cc-button [value]="'Cancel'" (onClicked)="closeModal()"></app-cc-button>
            <app-cc-button *ngIf="rowAction == 'Edit Row'" [value]="'Delete'" (onClicked)="deleteRow()"></app-cc-button>
        </div>
    </div>
</div>
