@import '../../../styles.scss';

.cc-button {
    border: 0.01rem solid $primary-color;
    background-color: transparent;
    padding: 0.4rem 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: 0.2s ease-in-out;
}

.cc-button:disabled {
    background-color: $dsiabled-color;
    color: $dark-grey;
    box-shadow: none;
    border: none;
}

.cc-button:active:not(:disabled) {
    transition: 0.05s ease-in-out;
    border: 0.02rem solid $white-color;
}

.cc-button:hover:not(:disabled) {
    background-color: $primary-color;
    color: $white-color;
    font-weight: bold;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.08rem #797979;
}

.primary {
    background-color: $primary-color;
    box-shadow: none;
}

.primary:active:not(:disabled) {
    transition: 0.05s ease-in-out;
    border: 0.02rem solid $white-color;
}

.primary:hover:not(:disabled) {
    background-color: $primary-color;
    color: $white-color;
    font-weight: 100;
    box-shadow: none;
}
