@import '../../styles.scss';

.grid-container {
    height: 100vh;
    padding: 1.5rem;
    backdrop-filter: blur(0px);
    box-sizing: border-box;
}

.blur {
    filter: blur(2px);
}

.ag-theme-alpine {
    display: flex;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: initial;
}

.clear-input {
    padding: 0.25rem;
    padding-left: 0.5rem;
    cursor: pointer;
}
