<div class="grid-container" [ngClass]="{ blur: showRowDetails }">
    <div class="top-header">
        <div class="search-bar">
            <app-cc-simple-input
                [width]="'13rem'"
                [value]="searchValue"
                [placeholder]="'Quick Search'"
                (onInput)="onSearchTextBoxChanged($event)"
            ></app-cc-simple-input>
            <div class="clear-input" (click)="onClearSearchInputClicked()">
                @if (searchValue) {
                    <span>&#10005;</span>
                }
            </div>
        </div>
        <div class="add-row-button">
            <app-cc-button [setPrimaryStyle]="true" [value]="'Add Row'" (onClicked)="onAddRowClicked()"></app-cc-button>
        </div>
    </div>
    <ag-grid-angular
        style="width: 100%; height: calc(100vh - 20%)"
        class="ag-theme-quartz-dark"
        [loading]="isLoading"
        [rowData]="rows"
        [columnDefs]="colDefs"
        [pagination]="true"
        [paginationPageSize]="20"
        (rowClicked)="onRowClicked($event)"
        (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
</div>

@if (showRowDetails) {
    <app-create-or-edit-address-book-row
        [data]="selectedRow"
        (close)="onModalClosed($event)">
    </app-create-or-edit-address-book-row>
}
