.grid-container {
    height: 100%;
    padding: 1rem; // Adjust as needed
    box-sizing: border-box; // Include padding in the total width/height
}

.ag-theme-alpine {
    display: flex; // Flex to ensure it responds to container
}
