@import '../../../../src/mixins';
@import '../../../../src/styles';

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.5rem;
    backdrop-filter: blur(0px);
    box-sizing: border-box;
    z-index: 999;
}

.modal-content {
    @include fadeIn-animation(0.3s);
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #a6d1ff;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.01rem solid rgb(148, 148, 148);
    border-radius: 0.5rem;
    height: 20vh;
    width: 40vw;
    background-color: $ag-theme-quartz-dark;
}

.modal-content p {
    color: #fff; //todo: use grid's color when doing the themes
}

.modal-actions > app-cc-button {
    padding: 2rem;
}

